<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anagram
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <mat-form-field class="anagram-input" appearance="fill">
      <mat-label>Anagram</mat-label>
      <input matInput (change)="validateText()" placeholder="Ex. ABCDEFG" value="{{anagramChars}}">
    </mat-form-field>
  <div class="button-container">
    <button class="random-button" (click)="randomClick()" style="float:left;" mat-flat-button color="primary">Random</button>
    <button class="generate-button" style="float:right;" mat-flat-button color="primary">Generate</button>
  </div>
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner ></mat-spinner>
    <p style="text-align: center;">Loading...</p>
  </div>
  <!-- do not show if any results for anagrams are not showing -->
  <div *ngIf="resultShowing" class="text-container">
    <p id="elapsed">Elapsed Time: 69ms</p>
    <p id="anagrams-found">Anagrams Found : 420</p>
  </div>

</ion-content>